<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Sistema de Cadastro de Endereços</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panel id="Endereço" header="Cadastro de Endereço" style="margin-bottom:20px">
                <h:panelGrid columns="3" cellpadding="5">
                    <!-- País -->
                    <p:outputLabel for="pais" value="Estado:" />
                    <h:selectOneMenu id="pais" value="#{enderecoManagedBean.pais}">
                        <f:selectItem itemLabel="Selecione o Pais" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{enderecoManagedBean.paises}" />
                    </h:selectOneMenu>
                
                    <!-- Fim País-->
                </h:panelGrid>
                
                <h:panelGrid columns="3" cellpadding="5">
                    <!-- Lista estados-->
                    <p:outputLabel for="estado" value="Estado:" />
                    <h:selectOneMenu id="estado" value="#{enderecoManagedBean.estado}">
                        <p:ajax listener="#{enderecoManagedBean.onUnidadeFederativaChange()}" update="cidade" />
                        <f:selectItem itemLabel="Selecione o Estado" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{enderecoManagedBean.estados}" />
                    </h:selectOneMenu>
                    <!-- Fim lista estado -->
                </h:panelGrid>
                
                <h:panelGrid columns="3" cellpadding="5">
                    <!-- Lista Cidades Cidade -->
                    <p:outputLabel for="cidade" value="Cidade:" />
                    <h:selectOneMenu id="cidade" value="#{enderecoManagedBean.cidade}">
                        <f:selectItem itemLabel="Selecione a Cidade" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{enderecoManagedBean.cidades}" />
                    </h:selectOneMenu>
                    <!-- Fim Cidade-->
                </h:panelGrid>
                
                <h:panelGrid columns="4" cellpadding="5">
                    <!-- Logradouro -->
                    <p:outputLabel for="tipoLogradouro" value="Logradouro: " />
                    <h:selectOneMenu id="tipoLogradouro" value="#{enderecoManagedBean.tipoLogradouro}">
                        <f:selectItem itemLabel="..." itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{enderecoManagedBean.tiposLogradouro}" />
                    </h:selectOneMenu>
                    <h:inputText id="logradouro" value="" />
                    <!-- Fim Logradouro -->
                </h:panelGrid>
                
                <!-- Bairro -->
                
                <!-- Fim Bairro -->
                
                
                
            </p:panel>
        </h:form>
    </h:body>
</html>

